@use 'constants';

.about__container {
    background-color: constants.$soft-white;
    margin-top: 0.5rem;
    padding: 0.5rem;

    @include constants.breakpoint(medium-and-up) {
        margin: 2rem;
        padding: 2rem;
    }
}

.dataone {
    display: flex;
    flex-direction: column;

    @include constants.breakpoint(medium-and-up) {
        flex-direction: row;
    }
}

.dataone__logo, .dataone__text, .partner__name {
    margin: 0.5rem auto;

    @include constants.breakpoint(medium-and-up) {
        margin: 0.5rem;
    }
}

.d1_logo {
    fill: url('#theme-gradient');
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.partner {
    text-align: center;
}

.partner__logo--horizontal img {
    max-height: 50px;
}

.partner__logo--vertical img {
    max-width: 100px;
}

.partner__name {
    align-self: center;
    color: constants.$soft-black;
}

