/* Colors */
$background: #c8d2e4;
$soft-black: #201f27;
$soft-white: #f3f6fd;
$accent-warm: #e66b3d; // orange; taken from a penguin bill
// blues are from photos of ice
$dark-blue: #002f5e;
$light-blue: #0092ad;
$black: #000;
$white: #FFF;

/* Fonts */

/* Breakpoints */
