/* Colors */
$background: #c8d2e4;
$soft-black: #201f27;
$soft-white: #f3f6fd;
$accent-warm: #e66b3d; // orange; taken from a penguin bill
// blues are from photos of ice
$dark-blue: #002f5e;
$light-blue: #0092ad;
$black: #000;
$white: #FFF;
$grey: #999;
$openlayers-light-grey: #666; // openlayers control greys
$openlayers-dark-grey: #333;

/* Type */
$font-weight-bold: 800;
$font-weight-normal: 400;
$font-weight-light: 200;

/* Breakpoints */
/* This operates as "mobile-first", meaning that 'small' is the default size */
@mixin breakpoint($point) {
    @if $point == medium {
        @media only screen and (min-width: 480px) and (max-width: 767px) { @content ; }
    }
    @else if $point == medium-and-up {
        @media only screen and (min-width: 480px) { @content ; }
    }
    @else if $point == large {
        @media only screen and (min-width: 768px) and (max-width: 1199px) { @content ; }
    }
    @else if $point == large-and-up {
        @media only screen and (min-width: 768px) { @content ; }
    }
    @else if $point == xlarge {
        @media only screen and (min-width: 1200px) { @content ; }
    }
}
