@use 'constants';

/* Page-level elements */

html { 
    font-family: sans-serif;
    padding: 0; 
}

body { 
    background-color: constants.$background;
    color: constants.$soft-black;
    font-size: 100%;
    height:  100vh;
    margin: 0;
}

a {
    text-decoration: none;
}


h4 {
    margin-bottom: 0.25rem;
}

/* Some utility classes */

.hidden {
    display: none;
}

