@use 'constants';

.error {
    background-color: constants.$soft-white;
    padding: 0.25rem;

    @include constants.breakpoint(medium) {
        padding: 1rem;
    }

    @include constants.breakpoint(large-and-up) {
        padding: 2rem;
    }
}

.error__link {
    color: constants.$dark-blue;
    font-weight: constants.$font-weight-bold;
}
