@use 'constants';

.search__header {
    color: constants.$dark-blue;
    padding: 0 0.25rem;

    @include constants.breakpoint(medium-and-up) {
        padding: 0 1rem;
    }
}

.search__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}

.search__label {
    font-weight: constants.$font-weight-bold;
    padding: 0.6rem 0;
}

.search {
    background-color: constants.$soft-white;
    padding: 0 0 0.5rem 0;

    @include constants.breakpoint(medium-and-up) {
        padding: 1rem;
    }

    input {
        border: 2px solid constants.$light-blue;
        flex: 1;
        line-height: 1.2rem;
        margin: 0.25rem 0.5rem;
        padding: 0.25rem;
    }
}

.search__button {
    background-color: constants.$accent-warm;
    border: 2px solid constants.$accent-warm;
    border-radius: 0;
    color: constants.$white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
    transition-duration: 0.5s;

    &:hover {
        background-color: constants.$white;
        color: constants.$accent-warm;
    }

    &:disabled {
        cursor: default;
        background-color: constants.$soft-white;
        border-color: constants.$grey;
        color: constants.$grey
    }
}

.date-picker__group {
    display: flex;
    flex: 1 1 60%;
    flex-wrap: wrap;
    text-align: right;
}

.date-picker {
    flex: 1 0 60%;
    padding: 0.5rem 0;

    @include constants.breakpoint(large-and-up) {
        flex: 1 0 50%;
    }
}
