@use 'constants';

.search__header {
    color: constants.$dark-blue;
    padding: 0 0.25rem;

    @include constants.breakpoint(medium-and-up) {
        padding: 0 1rem;
    }
}

.search__field {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1rem;
}

.search__label {
    font-weight: constants.$font-weight-bold;
    padding: 0.6rem 0;
}

.search {
    background-color: constants.$soft-white;
    padding: 0 0 0.5rem 0;

    @include constants.breakpoint(medium-and-up) {
        padding: 1rem;
    }

    input {
        border: 2px solid constants.$light-blue;
        flex: 1;
        line-height: 1.2rem;
        padding: 0.25rem;
        margin: 0.25rem 0.5rem;
    }
}

.search__button {
    background-color: constants.$accent-warm;
    border: 2px solid constants.$accent-warm;
    border-radius: 0;
    color: constants.$white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1rem;
    padding: 0.5rem;
    transition-duration: 0.5s;

    &:hover {
        background-color: constants.$white;
        color: constants.$accent-warm;
    }

    &:disabled {
        cursor: default;
        background-color: constants.$soft-white;
        border-color: constants.$grey;
        color: constants.$grey
    }
}

.clear__button {
    background-color: constants.$light-blue;
    border: 2px solid constants.$light-blue;
    border-radius: 0;
    color: constants.$white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    float: right;
    margin: 0 1rem;
    padding: 0.5rem;
    transition-duration: 0.5s;

    &:hover {
        background-color: constants.$white;
        color: constants.$light-blue;
    }

    &:disabled {
        cursor: default;
        background-color: constants.$soft-white;
        border-color: constants.$grey;
        color: constants.$grey
    }
}

.date-picker {
    justify-content: flex-start;
    margin: 0;
    padding: 0.5rem 0;
}

.date-picker__group {
    flex: 0 1 auto;
}


.loading{
    width:00px; 
    margin:0 auto;
}



.loader-wheel {
  animation: spin 1s infinite linear;
  border: 2px solid rgba(30, 30, 30, 0.5);
  border-left: 4px solid #fff;
  border-radius: 50%;
  height: 50px;
  margin-bottom: 10px;
  width: 50px;
}

.loader-text {
  color: constants.$dark-blue;
  font-family: arial, sans-serif;
  font-weight: constants.$font-weight-bold;
  margin-left: auto;
  margin-right: auto;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    content: 'Loading';
  }
  33% {
    content: 'Loading';
  }
  67% {
    content: 'Loading';
  }
  100% {
    content: 'Loading';
  }
}