@use 'constants';
@import 'npm:ol/ol.css';

.map__container {
    display: block;
    padding: 0 0.5rem;

    @include constants.breakpoint(medium-and-up) {
        padding: 0 1rem;
    }

    @include constants.breakpoint(large-and-up) {
        display: flex;
        flex-flow: row wrap;
    }
}

.map {
    flex: 1;
    height: 400px;
    margin: 0.5rem;
}

.popup-close {
    border: none;
    border-radius: 2px;
    color: constants.$openlayers-light-grey;
    background-color: constants.$white;
    font-weight: constants.$font-weight-light;
    position: absolute;
    right: 0.5rem;

    &:hover, &:focus {
        outline: 1px solid constants.$openlayers-dark-grey;
        color: constants.$openlayers-dark-grey;
    }
}

.map_popup {
    position: absolute;
    background-color: constants.$white;
    padding: 0.5rem;
    border: 2px solid constants.$dark-blue;
    bottom: 12px;
    left: -50px;
    min-width: 280px;
}

.map_popup:after, .map_popup:before {
    top: 100%;
    border: 2px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.map_popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.map_popup:before {
    border-top-color: constants.$dark-blue;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.popup-title a {
    color: constants.$dark-blue;

    &:hover, &:focus {
        color: constants.$light-blue;
    }
}