@use 'constants';

/* Nav */
nav {
    background-color: constants.$soft-white;
    border-bottom: 2px solid constants.$light-blue;
    margin: 0;
    padding: 1rem;
}

h1 {
    color: constants.$dark-blue;
    font-size: 2rem;
}

.nav__link {
    color: constants.$dark-blue;
    text-decoration: none;
    &:visited {
        color: constants.$dark-blue;
    }
}
