@use 'constants';

/* Nav */
.main-nav {
    background-color: constants.$soft-white;
    border-bottom: 2px solid constants.$light-blue;
    margin: 0;
    padding: 0.5rem;
    padding-bottom: 0.25rem;

    @include constants.breakpoint(medium-and-up) {
        padding: 1rem;
        padding-bottom: 0.5rem;
    }
}

.nav__link {
    color: constants.$dark-blue;
    text-decoration: none;
    &:visited {
        color: constants.$dark-blue;
    }
}

.nav_list {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    display: flex;
}


.nav__link--small {
    color: constants.$light-blue;
    font-weight: constants.$font-weight-bold;
    font-size: 1.2rem;
    text-align: center;
   

    &:visited {
        color: constants.$light-blue;
    }

    &:hover {
        color: constants.$accent-warm;
    }
}

.each_elem {
    color: constants.$accent-warm;
    margin: 0px 10px;
}