@use 'constants';

/* Nav */
.main-nav {
    background-color: constants.$soft-white;
    border-bottom: 2px solid constants.$light-blue;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;

    @include constants.breakpoint(medium-and-up) {
        padding: 1rem;
    }
}

.nav__link {
    color: constants.$dark-blue;
    text-decoration: none;
    &:visited {
        color: constants.$dark-blue;
    }
}

.nav__link--small {
    align-self: flex-end;
}
