@use 'constants';

.paginator__list {
    display: flex;
    list-style: none;
}

.paginator__element {
    margin: 0.25rem;
}

.pagination {
    color: constants.$dark-blue;

    &:hover {
        color: constants.$light-blue;
    }
}

.pagination--current {
    font-weight: constants.$font-weight-bold;
}

.results__number {
    color: constants.$dark-blue;
    font-weight: constants.$font-weight-bold;
    margin-left: 0.25rem;

    @include constants.breakpoint(medium-and-up) {
        margin-left: 2rem;
    }
}
