@use 'constants';

/* Search results */
.results__container {
    background-color: constants.$soft-white;
    padding: 0.5rem 0;

    @include constants.breakpoint(medium-and-up) {
        padding: 2rem 0;
    }
}



.results {
    background-color: constants.$soft-white;
    list-style:  none;
    padding: 0 0.25rem;

    @include constants.breakpoint(medium) {
        padding: 0 1rem;
    }

    @include constants.breakpoint(large-and-up) {
        padding: 0 2rem;
    }
}

.results--empty {
    padding-bottom: 2rem;
}

.result {
    background-color: constants.$white;
    border-bottom: 2px solid constants.$background;
    padding: 0.5rem;
    margin: 1rem 0;
}

.result__doi {
    padding: 0.25rem;
    text-align: right;
}

.doi__link {
    color: constants.$soft-black;
    font-weight: constants.$font-weight-light;
}

.result--full {
    display: none;
}

.result--truncated {
    display: inline;
}
.results__container--no-js {
    .result_field--full {
        display: block;
    }

    .result_field--truncated {
        display: none;
    }
}

.result__title {
    color: constants.$dark-blue;
    font-size: 1.5rem;
}

.result__url {
    color: constants.$dark-blue;
    font-weight: constants.$font-weight-bold;
}

.result__keywords {
    font-weight: constants.$font-weight-light;
}

.result__temporal-coverage {
    list-style: none;
    padding: 0;
}


.show_more_button, .show_less_button {
    background-color: constants.$light-blue;
    border: 2px solid constants.$light-blue;
    border-radius: 0;
    color: constants.$white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    float: unset;
    display: block;
    margin: 1rem 0;
    padding: 0.5rem;
    transition-duration: 0.5s;

    &:hover {
        background-color: constants.$white;
        color: constants.$light-blue;
    }
    
}



.screenreader-text {
        position: absolute;
        top: -1000px;
        left: -1000px;
        height: 1px;
        width: 1px;
        text-align: left;
        overflow: hidden;
}
.screenreader-text:focus {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
  
}

.data_source img{
    max-width: 200px;
    display: block;
    margin: 1rem 0;
}


.BCODMO {
    background-color: constants.$black;
}
