@use 'constants';

/* Search results */
.results__container {
    background-color: constants.$soft-white;
    margin: 2rem -1rem;
}

.results__number {
    font-weight: constants.$font-weight-bold;
    padding: 2rem 0 0 1rem;
}

.results {
    background-color: constants.$soft-white;
    list-style:  none;
    padding: 0 2rem;
}

.result {
    background-color: constants.$white;
    border-bottom: 2px solid constants.$background;
    padding: 0.5rem;
    margin: 1rem 0;
}

.result__doi {
    padding: 0.25rem;
    text-align: right;
}

.doi__link {
    color: constants.$soft-black;
    font-weight: constants.$font-weight-light;
}

.abstract {
    cursor: pointer;
}

.abstract--full {
    display: none;
}

.result__title {
    color: constants.$light-blue;
}

.result__url {
    color: constants.$dark-blue;
    font-weight: constants.$font-weight-bold;
}

.result__keywords {
    font-weight: constants.$font-weight-light;
}

.result__temporal-coverage {
    list-style: none;
    padding: 0;
}
