<div class="date-picker">
    <label for="{{ id}}">{{ label_text }}</label>
    <input type="date" id="{{ id }}" name="{{ id }}">
    <span class="validity"></span>
  </div>
  <p class="date-picker__fallback-label hidden">{{ label_text }}</p>
  <div class="date-picker__fallback hidden" data-id-prefix={{ id }}>
    <span>
      <label for="day">Day:</label>
      <select id="{{ id }}--day" name="day">
      </select>
    </span>
    <span>
      <label for="month">Month:</label>
      <select id="{{ id }}--month" name="month">
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
      </select>
    </span>
    <span>
      <label for="year">Year:</label>
      <select id="{{ id }}--year" name="year">
      </select>
    </span>
</div>
