<nav role="navigation" class="paginator" aria-label="Search Results Pagination Navigation">
    <ul>
        {% if current_page > 1 %}
            <li>
                <a href="{{ modify_query(page=current_page - 1) }}" class="pagination pagination--prev" aria-label="Go to the prevous page of search results">Previous</a>
            </li>
        {% endif %}
        {# we want 9 buttons at a time with the current page in the middle #}
        {% with start=[1, current_page - 4]|max %}
            {% if start > 1 %}
                <li><span class="pagination">&hellip;</span></li>
            {% endif %}

            {% with end=[start + 9, pages + 1]|min %}
                {% for page in range(start, end) %}
                    <li>
                        {% if page == current_page %}
                            <a href="{{ modify_query(page=page) }}" class="pagination pagination--num pagination--current" aria-current="true" aria-label="Current page, Page {{ page }} of search results">{{ page }}</a>
                        {% else %}
                            <a href="{{ modify_query(page=page) }}" class="pagination pagination--num" aria-label="Go to page {{ page }} of search results">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if end <= pages %}
                    <li><span class="pagination">&hellip;</span></li>
                {% endif %}
            {% endwith %}
        {% endwith %}
        {% if current_page < pages %}
            <li>
                <a href="{{ modify_query(page=current_page + 1) }}" class="pagination pagination--next" aria-label="Go to the next page of search results">Next</a>
            </li>
        {% endif %}
    </ul>
</nav>
