{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about__container">
    <h2>About the POLDER Federated Search App</h2>
    <p>This is a customizable federated search website, originally created for the <a href="https://polder.info" rel="noopener" target="_blank">polar research community</a>. The intentions behind creating it are to have something that came from, and is meant to serve, an international community of polar (Arctic and Antarctic) researchers. We hope to build an easy to use, fast, accessible site that is tailored to this specific community and responds to its needs.</p>
    <p>Find out more by reading the <a href="https://polder-crew.github.io/Federated-Search-Documentation/intro.html" rel="noopener" target="_blank">documentation book</a> or exploring the <a href="https://github.com/nein09/polder-federated-search" rel="noopener" target="_blank">GitHub repository</a>.</p>

    <h2>Special Thanks</h2>
    <div class="dataone">
        <div class="dataone__logo">
            {% include 'partials/dataone-logo.html' %}
        </div>
        <p class="dataone__text">
            The production and development environments are currently hosted by <a href="https://www.dataone.org/" rel="noopener" target="_blank">DataONE</a>, who are graciously providing computing infrastructure and support.
        </p>
    </div>

    <h2>Partners</h2>
    <div class="partners">
        <a href="https://arcticdc.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/adc-logo.jpg') }}">
                </div>
                <p class="partner__name">
                    The Arctic Data Committee
                </p>
            </div>
        </a>
        <a href="https://ccadi.ca/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--vertical">
                    <img src="{{ url_for('static', filename='img/CCADI-logo.png') }}">
                </div>
                <p class="partner__name">
                    The Canadian Consortium for Arctic Data Interoperability
                </p>
            </div>
        </a>
        <a href="https://www.scar.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--vertical">
                    <img src="{{ url_for('static', filename='img/SCAR-logo.png') }}">
                </div>
                <p class="partner__name">
                    The Scientific Committee on Antarctic Research
                </p>
            </div>
        </a>
        <a href="https://soos.aq/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/SooS-logo.png') }}">
                </div>
                <p class="partner__name">
                    The Southern Ocean Observing System
                </p>
            </div>
        </a>
        <a href="https://www.worlddatasystem.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--vertical">
                    <img src="{{ url_for('static', filename='img/WDS-logo.png') }}">
                </div>
                <p class="partner__name">
                    The World Data System
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %}
