{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="about__container">
    <h2>About the POLDER Federated Search App</h2>
    <p>This is a customizable federated search website, originally created for the <a class="about__link" href="https://polder.info" rel="noopener" target="_blank">polar research community</a>. The intentions behind creating it are to have something that came from, and is meant to serve, an international community of polar (Arctic and Antarctic) researchers. We hope to build an easy to use, fast, accessible site that is tailored to this specific community and responds to its needs.</p>
    <p>Find out more by reading the <a class="about__link" href="https://polder-crew.github.io/Federated-Search-Documentation/intro.html" rel="noopener" target="_blank">documentation book</a> or exploring the <a class="about__link" href="https://github.com/nein09/polder-federated-search" rel="noopener" target="_blank">GitHub repository</a>.</p>
    <p>If you'd like to send us questions or comments directly, you are welcome to <a class="about__link" href="mailto:cverhey@oceannetworks.ca">email us</a>.</p>

    
    <div class="covered_repositories">
        <h2>Covered data repositories</h2>
        <p>There are two ways a repository is included in searches that are made from this application- if the repository is indexed DataONE (and has data within the search parameters), and if the repository is indexed by the app itself.</p>
        <h3>DataONE Repositories</h3>
        <p>There are many DataONE repositories, but of particular interest to the polar research community are:</p>
        
         <div class="repositories">
            <a href="https://arcticdata.io/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--vertical">
                        <img src="{{ url_for('static', filename='img/arcticdata-logo.png') }}" alt="Arctic Data Committee">
               
                    </div>
                </div>
            </a>
             <a href="https://npdc.nl/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                <div class="dataone_repos__logo--vertical">
                <img src="{{ url_for('static', filename='img/npdc-logo.png') }}" alt="Netherlands Polar Data Center">
               
                </div>
                </div>
            </a>
             <a href="https://www.bco-dmo.org/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                <div class="dataone_repos__logo--horizontal">
                <img class="bco" src="{{ url_for('static', filename='img/bco-logo.png') }}" alt="BCO-DMO">
               
                </div>
                 <p class="partner__name">BCO-DMO</p>
                </div>
            </a>
             <a href="https://www.usap-dc.org/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--vertical">
                        <img src="{{ url_for('static', filename='img/usap_dc_logo.png') }}" alt="U.S. Antarctic Program Data Center">
                    </div>
                        <p class="partner__name">
                            U.S. Antarctic Program Data Center
                        </p>

                </div>
            </a>
        </div>
         
        <h3>Repositories indexed by this app:</h3>
        
        <div class="repositories">
            <a href="https://g-e-m.dk/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--horizontal">
                        <img src="{{ url_for('static', filename='img/gem.jpg') }}" alt="Greenland Ecosystem Monitoring">
                    </div>
                    <p class="partner__name">Greenland Ecosystem Monitoring</p>
                </div>
            </a>
             <a href="https://www.bas.ac.uk/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--horizontal">
                        <img class="bas" src="{{ url_for('static', filename='img/bas.png') }}" alt="British Antarctic Survey">
                        
                    </div>
                    <p class="partner__name">
                        British Antarctic Survey
                    </p>
                </div>
            </a>
            <a href="https://cchdo.ucsd.edu/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--vertical">
                        <img class="cchdo" src="{{ url_for('static', filename='img/logo_cchdo.svg') }}" alt="">

                    </div>
                    <p class="partner__name">
                        CLIVAR and Carbon Hydrographic Data Office
                    </p>
                </div>
            </a>
             <a href="https://www.earthdata.nasa.gov/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--vertical">
                        <img class="gcmd" src="{{ url_for('static', filename='img/nasa-logo.png') }}" alt="">

                    </div>
                    <p class="partner__name">
                        Global Change Master Directory
                    </p>
                </div>
            </a>
            <a href="https://ccadi.ca/" rel="noopener" target="_blank">
                <div class="dataone_repos">
                    <div class="dataone_repos__logo--horizontal">
                        <img src="{{ url_for('static', filename='img/CCADI-logo.png') }}" alt="Canadian Consortium for Arctic Data Interoperability (CCADI)">
                    </div>
                    <p class="partner__name">
                        Canadian Consortium for Arctic Data Interoperability
                    </p>
                </div>
            </a>
        </div>
    </div>


    <h2 class="about__header">Special Thanks</h3>
    <div class="about__content dataone">
        <div class="dataone__logo">
            {% include 'partials/dataone-logo.html' %}
        </div>
        <p class="dataone__text">
            The production and development environments are currently hosted by <a class="about__link" href="https://www.dataone.org/" rel="noopener" target="_blank">DataONE</a>, who are graciously providing computing infrastructure and support.
        </p>
    </div>

    <h2 class="about__header">Partners</h3>
    <div class="about__content partners">
        <a href="https://arcticdc.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/adc-logo.jpg') }}" alt="Arctic Data Committee">
                </div>
            </div>
        </a>
        <a href="https://alliancecan.ca/" rel="noopener" target="blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/alliance-logo.svg') }}" alt="Digital Research Alliance of Canada / Alliance de recherche numérique du Canada">
                </div>
            </div>
        </a>
        <a href="https://ccadi.ca/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/CCADI-logo.png') }}" alt="Canadian Consortium for Arctic Data Interoperability (CCADI)">
                </div>
                <p class="partner__name"> 
                    Canadian Consortium for Arctic Data Interoperability
                </p>
            </div>
        </a>
        <a href="https://www.scar.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--vertical">
                    <img src="{{ url_for('static', filename='img/SCAR-logo.png') }}" alt="Scientific Committee on Antarctic Research (SCAR)">
                </div>
            </div>
        </a>
        <a href="https://soos.aq/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--horizontal">
                    <img src="{{ url_for('static', filename='img/SooS-logo.png') }}" alt="Southern Ocean Observing System (SOOS)">
                </div>
                <p class="partner__name">
                    Southern Ocean Observing System
                </p>
            </div>
        </a>
        <a href="https://www.wds-ito.org/" rel="noopener" target="_blank">
            <div class="partner">
                <div class="partner__logo--vertical">
                    <img src="{{ url_for('static', filename='img/WDS-logo.png') }}" alt="World Data System">
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock %}
