<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.css') }}" />
      <title>
          {% block title %}Home{% endblock %} - POLDER Federated Search
      </title>
  </head>
  <body>
      {% block nav %}
      <nav>
          <h1>
            <a href="{{ url_for('home') }}" class="nav__link">POLDER Federated Search</a>
          </h1>
      </nav>
      {% endblock %}
      <section class="content">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
      </section>
      <script type="module" src="{{ url_for('static', filename='dist/js/index.js') }}"></script>
  </body>
</html>
