{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}

<div class="help__container">
<h2>The Polar Federated Search provides the ability to create your own queries through the search text interface.</h2>
<a  href="{{ url_for('home') }}" rel="noopener">
    
        <div class="text_interface--horizontal">
            <img src="{{ url_for('static', filename='img/text_interface.png') }}" alt="Text interface">
        </div>
     
     </a>
<h3>Multiple terms can be combined together with boolean operators to form a more complex and desirable search parameter as shown below:</h3>
<h4>Note all the boolean operators must be in ALL CAPS.</h4>
<p>- 'ice~' -> search would return all similar terms spelling wise to ice.</p>
<p>- 'green^4 ice'-> boosts the relevance of green in the search.</p>
<p>- 'green ice' OR 'temperature' -> documents may contain 'green ice' or 'temperature'.</p>
<p>- 'green ice' AND 'temperature' -> documents must contain 'green ice' and 'temperature'.</p>
<p>- '+green ice' -> documents must contain 'green' and may contain both terms.</p>
<p>- 'green ice' NOT 'planktons' -> documents must contain 'green ice' and not 'planktons'.</p>
<p>- ('green' OR 'ice') AND 'temperature' -> documents must contain temperature and either 'green' or 'ice' may exist.</p>
 <p>Find out more by reading the <a class="about__link" href="https://polder-crew.github.io/Federated-Search-Documentation/intro.html" rel="noopener" target="_blank">documentation book</a> or exploring the <a class="about__link" href="https://github.com/nein09/polder-federated-search" rel="noopener" target="_blank">GitHub repository</a>.</p>
  <p>If you'd like to send us questions or comments directly, you are welcome to <a class="about__link" href="mailto:cverhey@oceannetworks.ca">email us</a>.</p>
</div>




{% endblock %}