{% extends 'base.html' %}

{% block content %}

<div class="container container--search" role="search">
    <h2 class="search__header">Use any or all of the fields below to search for datasets about Earth's polar regions.</h2>
    <!-- in the absence of JS, the form displays results at /search -->
    <form class="search" method="get" action="{{ url_for('nojs_combined_search') }}" data-api-url="{{ url_for('combined_search') }}">
        <div class="search__field">
            <label class="search__label" for="text">Search for text in titles, keywords, or other metadata: </label>
            <input name="text" id="text">
            <span class="validity"></span>
        </div>
        <fieldset class="search__field">
            <legend class="search__label">Search for date ranges representing when data was collected</legend>
            <div class="date-picker__group">
                <legend class="search__label">Data collection began between</legend>
                {% with id="start_min", label_text="Start date:" %}
                    {% include 'partials/date-picker.html' %}
                {% endwith %}
                <div class="date-picker__and">and</div>
                {% with id="start_max", label_text="End date:" %}
                    {% include 'partials/date-picker.html' %}
                {% endwith %}
            </div>
            <div class="date-picker__group">
                <legend class="search__label">Data collection ended between</legend>
                {% with id="end_min", label_text="Start date:" %}
                    {% include 'partials/date-picker.html' %}
                {% endwith %}
                <div class="date-picker__and">and</div>
                {% with id="end_max", label_text="End date:" %}
                    {% include 'partials/date-picker.html' %}
                {% endwith %}
            </div>
            
        </fieldset>
        <div class="search__field">
           <label class="search__label author" for="author">Search for authors named:</label>
        <input name="author" id="author"> 

        </div>
        
        <button class="search__button" type="submit">Search</button>
        <button class="clear__button" id="clear" type="reset">Clear</button>
    </form>
</div>

 <div class="loading" id="load" aria-label="Page Loading">
    <div class="loader-wheel"></div>
    <div class="loader-text"></div>
</div>

{% if nojs is not defined %}
    <div class="map__container hidden">
        <div class="map map--arctic" id="map--arctic" tabindex="0" role="region-arctic" aria-roledescription="map">
            <div class="screenreader-text">
                A polar-projected map of the Arctic, with boundaries drawn for the spatial coverage of the following datasets:
                <ul id="map__screenreader--arctic">
                </ul>
            </div>

        </div>
        <div class="map map--antarctic" id="map--antarctic" tabindex="0" role="region-antarctic" aria-roledescription="map">
            <div class="screenreader-text">
                A polar-projected map of the Antarctic, with boundaries drawn for the spatial coverage of the following datasets:
                <ul id="map__screenreader--antarctic">
                </ul>
            </div>
        </div>
    </div>

    <!-- for the search results showing up on the maps. Temporary until
        these geometries are returned with an API. -->
    <script type="text/javascript">
      let resultGeometries = {};
    </script>
{% endif %}
<div class="results__container" tabindex="-1"></div>
{% endblock %}
